{% extends 'account/base.html'%}

{% block title %}
    Профиль пользователя - {{ profile.user.pk }}
{% endblock %}

{% block body %}
    <div>
        <h1>Профиль пользователя- {{ profile.user.username }}</h1>
    </div>
    <div>
        <div><h2>Имя - {{ profile.user.first_name }}</h2></div>
        <div><h2>Фамилия - {{ profile.user.last_name }}</h2></div>
        <div><h3>Дата регистрации {{ profile.date_joined }}</h3></div>
    </div>
    <div>
        <p><a href="{% url 'account:get-status' pk=profile.pk %}">Узнать статус дружбы:</a></p>
    </div>
{% endblock %}
